<% include header %>

<div class="container">
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-12">
			<form method="POST" action="/admin/save_settings">
				<div class="form-group">
					<label>Post limit</label>
					<input name="post_limit" class="form-control" value="<%= post_limit %>">
				</div>

				<input type="submit" class="btn btn-info" value="Save settings">
			</form>
		</div>
	</div>
</div>

<% include footer %>