<% include header %>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Add post
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Add post</li>
    </ol>

    <!-- Blog Post -->
    <div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">

              <div class="col-md-12">
                <form onsubmit="return doAddPost(this);">
                    
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" required name="title" class="form-control" />
                    </div>

                    <div class="form-group">
                        <button class = "btn btn-primary" data-toggle = "modal" data-target = "#myModal" type="button">
                           Upload image
                        </button>
                    </div>

                    <div class="form-group">
                        <label>Content</label>
                        <textarea rows="10" required name="content" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Categories</label>
                        <select multiple name="categories[]" id="categories" class="form-control">
                            <option value="Travel">Travel</option>
                            <option value="Gaming">Gaming</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Health">Health</option>
                            <option value="Finance">Finance</option>
                            <option value="News">News</option>
                        </select>
                    </div>

                    <div class="submit-btns">
                        <button class="mtr-btn signup btn btn-success" name="submit" type="submit">
                            <span>Add post</span>
                        </button>
                    </div>
                </form>

              </div>

            </div>
          </div>
        </div>
    </div>

  </div>

  </div>
  <!-- /.container -->

  <!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Upload image
            </h4>

            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
               ×
            </button>
         </div>
         
         <div class = "modal-body">
            <form method="POST" enctype="multipart/form-data" id="form-upload">
                <div class="form-group">
                    <input type="file" name="file" class="form-control" />
                </div>
                <input type="submit" class="btn btn-success" value="Upload" />
            </form>
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
   
</div><!-- /.modal -->

    <script>

        var imagePath = "";

        window.addEventListener("load", function () {
            $("#form-upload").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/do-upload-image",
                    method: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        imagePath = response;
                        $("#myModal").modal("hide");
                    }
                });
            });
        });

        function doAddPost(form) {
            form.submit.setAttribute("disabled", "disabled");
            form.submit.innerHTML = "<span>Loading...</span>";

            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/add-post", true);
            ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    form.submit.removeAttribute("disabled");
                    form.submit.innerHTML = "<span>Add post</span>";

                    var response = JSON.parse(this.responseText);
                    alert(response.message);

                    if (response.status == "success") {
                        var formData = {
                            title: form.title.value,
                            content: form.content.value,
                            image: imagePath,
                            _id: response._id
                        };

                        var socket = io();
                        socket.emit("new_post", formData);
                    }
                }
            };

            const categories = JSON.stringify($("#categories").val());

            ajax.send("title=" + form.title.value + "&content=" + form.content.value + "&image=" + imagePath + "&accessToken=" + localStorage.getItem("accessToken") + "&categories=" + categories);
            return false;
        }
    </script>

<% include footer %>
