<!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Let's Chat! 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/user/template-1/vendor/jquery/jquery.min.js"></script>
  <script src="/static/user/template-1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/user/js/script.js"></script>

</body>

</html>